body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('image/blurred-imgem-drive-advanced-catalogue.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 10px;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 1.75rem;
  color: #333;
  margin: 0.5rem 0;
  margin-bottom: 2rem;
  letter-spacing: .02rem;
}
p {
  font-size: 1.125rem;
  color: #444;
  margin: 0.5rem 0;
  letter-spacing: .05rem;
  line-height: 1.5rem;
}

.icone {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  align-items: center;
}

@media (max-width: 800px) {

  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1rem;
  }
  .icone img {
    width: 30px;
  }

@media (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.75em;
      letter-spacing: .05rem;
    }
    .icone img {
      width: 25px;
    }
    .container{
      padding: 10px;
    }
  }

@media (max-width: 400px) {

    h1 {
      font-size: 1.25em;
    }
    p {
      font-size: 0.75em;
    }
    .icone img {
      width: 25px;
    }
  }
}